.arrival {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06), 0 2px 16px 0 rgba(0, 0, 0, 0.10), 0 -1px 8px 0 rgba(0, 0, 0, 0.02), 0 -2px 16px 0 rgba(0, 0, 0, 0.03);
}

.destinationBox {
  margin-left: 0.5em;
}

.destination {
  font-family: var(--headline-font);
  font-size: 1.2em;
}

.scheduled {
  font-size: 0.9em;
}

.arrivesSec {
}
