.arrival {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  align-items: center;
  padding: var(--size-8);
  margin: var(--size-8) 0;
  box-shadow:
    0 1px 8px 0 rgb(0 0 0 / 6%),
    0 2px 16px 0 rgb(0 0 0 / 10%),
    0 -1px 8px 0 rgb(0 0 0 / 2%),
    0 -2px 16px 0 rgb(0 0 0 / 3%);
}

.destinationBox {
  margin-left: var(--size-8);
}

.destination {
  font-family: var(--headline-font);
  font-size: 1.2em;
}

.scheduled {
  font-size: 0.9em;
}

.seconds {
  font-size: 0.85em;
}
