.arrivalIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: var(--icon-text);
  box-shadow:
    0 1px 2px 0 rgb(0 0 0 / 12%),
    0 2px 4px 0 rgb(0 0 0 / 16%);
}

.red {
  background: var(--red-line);
}

.orange {
  background: var(--orange-line);
}

.yellow {
  background: var(--yellow-line);
}

.green {
  background: var(--green-line);
}

.blue {
  background: var(--blue-line);
}

.streetcar {
  border-radius: 15%;
  background: var(--streetcar);
  color: var(--streetcar-text);
}

.bus {
  border-radius: 15%;
  background: var(--bus);
}
