.container {
  background-color: #f00;
}

@media only screen and (max-width: 1250px) {
  .container {
    background-color: #f80;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    background-color: #ff0;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    background-color: #8f0;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    background-color: #08f;
  }
}

@media only screen and (max-width: 250px) {
  .container {
    background-color: #80f;
  }
}
