.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.version {
  position: absolute;
  bottom: var(--size-8);
  right: var(--size-8);
  font-size: 1.2em;
  color: var(--grey);
}
