.graphIcon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #f77700;
  color: #484848;
  text-align: center;
  font-weight: bold;
  line-height: 150%;
}
