.graphIcon {
  display: inline-block;
  position: relative;
  left: 0%;
  width: 2.0em;
  height: 2.0em;
  border-radius: 50%;
  background-color: #f77700;
  color: #484848;
  text-align: center;
  font-weight: bold;
  line-height: 150%;
}
