.graph {
  background: var(--grey);
  font-size: 1.2rem;
  height: 3em;
  padding: 0 var(--size-32);
}

.active {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.arrows {
  height: 100%;
  width: 100%;
}

.arrow {
  bottom: 0;
  position: absolute;
  top: 0;
}

.arrowHalf {
  background: var(--grey-light-1);
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
}

.arrowHalf:nth-child(1) {
  top: 0;
  transform: skew(25deg);
}

.arrowHalf:nth-child(2) {
  bottom: 0;
  transform: skew(-25deg);
}

.arrowLight {
  background: var(--grey-light-2);
}

.arrival {
  position: absolute;
  transform: translate(-50%, 0);
}
