.menuIcon {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1.5em;
  width: 1.3em;
  padding: 0.2em 0.1em;
}

.iconBar {
  width: 100%;
  height: 0.18em;
  background-color: currentColor;
}
