.searchPane {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10em;
  transition: height 3s;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  overflow: hidden;
}

.closed {
  color: blue;
  height: 0;
}

.near {
  display: none;
}

.setStop {
}
