.searchPane {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 10em;
  width: 99%;
  padding: 0.5em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  transition: height 3s;
  overflow: hidden;
}

.closed {
  padding: 0;
  height: 0;
}

.closeBox {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.near {
  display: none;
}

.stopBox {
}
