.stop {
  padding: 0.5em;
  font-size: 2.2rem;
  margin-bottom: 1em;
}

.name {
  margin-bottom: 0.3em;
  font-family: var(--headline-font);
  font-size: 1.3em;
}

.details {
  padding-left: 0.5em;
}

.id * {
  margin-left: 0.5em;
}
