.stop {
  padding: 0.5em;
  font-size: 1.4em;
}

.headline {
  margin-bottom: 0.3em;
  font-family: var(--headline-font);
  font-size: 1.3em;
}

.quickBox {
  display: flex;
  justify-content: center;
  margin: 1em 0 0.5em 0;
}
