html {
  font-family: Verdana, sans-serif;
  font-size: 10px;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.6rem;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #fffff8;
  }
}
